ablage/
RCS/
*~
devel/
commit.txt
test/interpol.rb
/test/nested-defun.el
test/docstring-starting-with-paren.el
befehle.org
alt-*
test/ar-backward-defun-test-1977A4N.el
test/ar-ert-forward-sexp-test-LGnrk9.el